@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
body
{
  background-color:#a39e79;
  max-height: 2500px;
}
header{
  position: fixed;
  top: 0px;
  left: 0;
  width:100%;
  height: 100px;
  padding: 20px 100 px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 100;
}
.logo{
top: 50px;
margin-left: 27px;
}
header.sticky
{
padding: 6px 100px;
background:#7e6a57;
transition: .5s;

}


.navbar a{
  position:relative;
  font-size: 20px;
  color:lemonchiffon;
  font-weight: 500;
  text-decoration: none;
  margin-right: 75px;
  margin-left: 50px;
  top: -33px;
}
.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width:0;
  height: 2px;
  background: lemonchiffon;
  transition: .3s;

}
.navbar a:hover::before{
  width: 100%;
  color: rgb(192, 130, 16);
}




.about{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  max-height: 1000px;
  padding: auto;
  margin-top : 250px;
	justify-content: space-between;
  background-color: #e4dbba;
}



.about-text{
 
  font-family:'Playfair+Display:ital' sans-serif;
  font-weight: 700;
  font-size: 25px;
  box-sizing: border-box;
  flex-basis: calc(33.33% - 20px);
	margin-bottom: 35px;
	padding: 18px;
	box-shadow: 0px 0px 10px #C7C1B3;
	text-align: center;

}
/*explaining elements*/
#about-exp{
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  max-height: 1000px;
  padding: auto;
}
.about-exp{
  flex-basis: calc(33.33% - 20px);
	margin-bottom: 35px;
	padding: 18px;
	box-shadow: 0px 0px 10px  #C7C1B3;
	text-align: center;
  background-color: #e4dbba;
  font-size: 19px;
}
.about-exp img{
  height:60px;
  width: 60px;
}

/*footer*/
.container{
  max-width: 1170px;
  
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style:none;
}
.footer{
  background-color: darkolivegreen;
  padding: 70px 0;

}
.footer-col{
  width: 25%;
  padding: 0 15px; ;
}
.footer-col h4{
  font-size: 21px;
  color: lemonchiffon;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: lemonchiffon;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
 margin-bottom: 10px;
}
.footer-col ul li a{
 font-size: 16px;
 text-transform: capitalize;
 color: lemonchiffon;
 text-decoration: none;
 font-weight: 300;
 color: khaki ;
 display: black ;
 transition: all 0.3s ease;

}
.footer-col ul li a:hover{
color: lemonchiffon;
padding-left: 10px;

}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #BC6C25;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: lemonchiffon;
 transition: all 0.3s ease;

}
.footer-col .social-links a:hover{
 color: #C7C1B3;
 background-color: lemonchiffon;
}
@media(max-width:767px){

}
.copyright{
  padding-left: 18px;
  text-align: center;
}

