  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Playfair+Display:ital' sans-serif;
}
body{
    min-height: 150vh;
    background:#1f1c1c;
    background-size: cover;
    background-position: center;
    
}
header{
    position: fixed;
    top: 0px;
    left: 0;
    width:100%;
    height: 100px;
    padding: 20px 100 px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 100;
}
.logo{
  top: 50px;
  margin-left: 27px;
}
header.sticky
{
  padding: 6px 100px;
  background:rgba(0, 0, 0, 70%);
  transition: .5s;

}

.title{
  text-align: center;
  font-size: 30px;
  margin-top: 250px;
  color: rgb(128, 126, 116);
  font-weight: 500;
  font-size: 48px;
}


.navbar a{
    position:relative;
    font-size: 20px;
    color:lemonchiffon;
    font-weight: 500;
    text-decoration: none;
    margin-right: 75px;
    margin-left: 50px;
    top: -33px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width:0;
    height: 2px;
    background: lemonchiffon;
    transition: .3s;

}
.navbar a:hover::before{
    width: 100%;
    color: rgb(192, 130, 16);
}
#slider {
  width: 1810px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  max-width: 100%;
  margin-top: 20px;
  margin-left:20px ;
  margin-right:10px;
  background-color: rgb(163, 161, 149);

}@keyframes fade {
  from {opacity: .5;}
  to {opacity: 1;}
  }

.slider {                     
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  display: none;
  width: 80px;
  height: 80px;
  margin: 0 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.slides img.show {
  display: block;
  opacity: 1;   
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (max-width: 768px) {
  .slides img {
    width: 60px;
    height: 60px;
    margin: 0 3px;
  }

  .slider button {
    padding: 5px;
    font-size: 1rem;
  }
}


main{
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid ;
    grid-template-columns: 250px  1fr;
    justify-content: space-around;
    height: auto;

}
aside{

    display: flex;
    height: 1000px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: rgb(163, 161, 149);

}
#filter-group button{
  margin-top: 10px;
  padding: 8px 16px;
  background-color:#594b3d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
#filter-group .type-btn{
justify-content: space-between;
}   

#filters{
    font-family:'Playfair+Display:ital' sans-serif; 
}
#filters label,h3,h2,button{
    font-weight: bold;
    transition: all 0.3s ease;
  }
#filters label:hover{
  padding-left: 10px;
}
#filters h3:hover{
  padding-left: 10px;
}
#filters h2:hover{
  padding-left: 10px;
}
#filters button:hover{
  padding-left: 10px;
}

/* filter Checkbox */
#filters input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background-color:rgb(128, 126, 116);
    vertical-align: middle;
  }
  
  #filters input[type="checkbox"]:checked {
    background-color:rgb(128, 126, 116);
    border-color: black;
  }
  
  #filters input[type="checkbox"]:checked::after {
    content: "\2713";
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #filters select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color:rgb(128, 126, 116);
    cursor: pointer;
    vertical-align: middle;  
  
}
  #search-input {
    padding: 8px;
    border: 1px solid #ccc;
    width: 190px;
    border-radius: 4px;
    font-size: 16px;
    flex: 1;
    background-color:rgb(128, 126, 116);
  }
  #search-input::placeholder{
    color: rgb(56, 55, 55);
  }
  
  #search-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color:#594b3d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }

 
#car-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    max-width: 1500px;
    max-height: 1800px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:#2b2726;

  }
  .car-cards{
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 18px;
    text-align: center;
    font-size: 19px;
    width: 150px;
    min-height: 231.250px;
    box-shadow: 0px 0px 10px  #C7C1B3;
    background-color: rgb(163, 161, 149);
  }
  .car-cards img{
    height: auto;
    width: 250px;

  }
  .car-cards p{
    font-size: 20px;
    font-weight: bolder;

  }
  .car-cards h5{
    font-size: 30px;
    font-weight: bold;

  }
  .pric p{
    font-size: 30px;
    color: #fff;
    font-weight: bolder;

  }
.car-btn{
  padding: 9px 8px;
  background-color:#594b3d;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style:none;
}
.footer{
    background-color:#2e2c2a;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px; ;
}
.footer-col h4{
    font-size: 21px;
    color: lemonchiffon;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: lemonchiffon;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}
.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color: lemonchiffon;
   text-decoration: none;
   font-weight: 300;
   color: khaki;
   display:block;
   transition: all 0.3s ease;

}
.footer-col ul li a:hover{
 color: lemonchiffon;
 padding-left: 10px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
   
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #594b3d;
    background-color: khaki;
       transition: all 0.3s ease;

}
.footer-col .social-links a:hover{
   color: #C7C1B3;
   background-color: lemonchiffon;
}
@media(max-width:767px){

}
.copyright{
    color: lemonchiffon;
    text-align: center;
    
}
.row hr{
    opacity: 0.7;
}
