@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Playfair+Display:ital' sans-serif;
}
body {
    background-color:#a39e79;
    max-height: 3000px;
    background: url(porshe-2.jpg);    
    background-size: cover;
    background-position: 0%;
    padding: auto;
    justify-content: space-between;
    background-position-x: center;

}
#image{
    z-index: -1;
    width: 100%;
    position: absolute;
}

header{
    position: fixed;
    top: 0px;
    left: 0;
    width:100%;
    height: 100px;
    padding: 20px 100 px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 100;
}
.logo{
  top: 50px;
  margin-left: 27px;
}
header.sticky
{
  padding: 6px 100px;
  background:#7e6a57;
  transition: .5s;

}


.navbar a{
    position:relative;
    font-size: 20px;
    color:lemonchiffon;
    font-weight: 500;
    text-decoration: none;
    margin-right: 75px;
    margin-left: 50px;
    top: -33px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width:0;
    height: 2px;
    background: lemonchiffon;
    transition: .3s;

}
.navbar a:hover::before{
    width: 100%;
    color: rgb(192, 130, 16);
}

.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style:none;
}
.footer{
    background-color:#594b3d;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px; ;
}
.footer-col h4{
    font-size: 21px;
    color: lemonchiffon;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: lemonchiffon;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}
.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color: lemonchiffon;
   text-decoration: none;
   font-weight: 300;
   color: khaki;
   display:block;
   transition: all 0.3s ease;

}
.footer-col ul li a:hover{
 color: lemonchiffon;
 padding-left: 10px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #BC6C25;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: lemonchiffon;
   transition: all 0.3s ease;

}
.footer-col .social-links a:hover{
   color: #C7C1B3;
   background-color: lemonchiffon;
}
@media(max-width:767px){

}
.copyright{
    color: lemonchiffon;
    text-align: center;
    
}
.row hr{
    opacity: 0.7;
}

#contact{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    width: 1500px;
    max-height: 1500px;
    padding: auto;
    margin-top : 250px;
    justify-content: space-between;

   
}

#contact h2{
    position: relative;
    top: 250px;
    width: 200px;
    font-size:4rem;
    color: lemonchiffon;
    left: 150px;
}
 .box{
    position: relative;
    border: lemonchiffon solid 2px;
    border-radius: 20px;
    width: 900px;
    height: auto;
    top:-60px;
    left: 400px;
    background: transparent;
    backdrop-filter:blur(20px);
    box-shadow: 10px 10px 0 #7e6a57;
    align-items: center;

}

#contact .box-elements{
    position: relative;
    margin: 30px;
   justify-content: center;
   text-align: center;
   align-content: center;
}
.box-elements input{
    width:600px ;
    height: 45px;
    background-color: lemonchiffon;
    border-radius: 40px;
    border: khaki solid 2px;
}
.box-elements textarea{
    width:600px ;
    height:auto;
    background-color: lemonchiffon;
    border-radius: 40px;
    border: khaki solid 2px;
}
.box-file{
    height: 300px;
    width:600px ;
    align-content: center;
    background-color: lemonchiffon;
    border-radius: 40px;
    border: khaki solid 2px;
    margin-left: 150px;
}
 .drop-icon{
    height: 200px;
    width:auto;
    align-content: center;
    background-color: rgb(236, 231, 187);
    border-radius: 40px;
    border: rgb(138, 133, 95) dashed 2px;
}

.box-elements input[type="file"] {

    width:600px ;
    height: 300px;
    background-color: lemonchiffon;
    border-radius: 40px;
    border: khaki solid 2px;
    
}
input[type="file"]::file-selector-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 8px;
    text-decoration: none;
  }
  
input,textarea:placeholder-shown{
    text-align: center;
    color: #594b3d;
    font-size: larger;
    font-weight: bolder;
}
.box button{
    text-decoration: none;
    font-size: 20px;
    position: static;
    width: 100px;
    height: 40px;
    top: -20px;
    left: 150px;
    margin: 30px;
    background: khaki;
    color: #594b3d;
    border: lemonchiffon solid 2px;
    border-radius: 10px;
}
.box button:hover{
    transition: 0.3s ease-out;
    background:#BC6C25;
    color: lemonchiffon;
}

