@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Playfair+Display:ital' sans-serif;
}

body{
    min-height: 100vh;
    background:#2b2726;
    background-size: cover;
    background-position: center;
    
}
header{
    position: fixed;
    top: 0px;
    left: 0;
    width:100%;
    height: 100px;
    padding: 20px 100 px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 100;
}
.logo{
  top: 50px;
  margin-left: 27px;
}
header.sticky
{
  padding: 6px 100px;
  background: rgb(19, 18, 18, 0.7);
  transition: .5s;

}

.navbar a{
    position:relative;
    font-size: 20px;
    color:lemonchiffon;
    font-weight: 500;
    text-decoration: none;
    margin-right: 75px;
    margin-left: 50px;
    top: -33px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width:0;
    height: 2px;
    background: lemonchiffon;
    transition: .3s;

}
.navbar a:hover::before{
    width: 100%;
    color: rgb(192, 130, 16);
}
.banner h2{
    text-align:center ;
   }
 .img1{
     position: relative;
     left: 150px;
     margin-top: 100px;
     margin-bottom: 300px;
     
 }
 .container{
     max-width: 1170px;
     
     margin: auto;
 }
 .row{
     display: flex;
     flex-wrap: wrap;
 }
 ul{
     list-style:none;
 }
 .footer{
     background-color:#332d28;
     padding: 70px 0;
 
     padding: 70px 0;
 }
 .footer-col{
     width: 25%;
     padding: 0 15px; ;
 }
 .footer-col h4{
     font-size: 21px;
     color: lemonchiffon;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 }
 .footer-col h4::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: lemonchiffon;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }
 .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
 }
 .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: lemonchiffon;
    text-decoration: none;
    font-weight: 300;
    color: khaki;
    display:block;
    transition: all 0.3s ease;
 
 }
 .footer-col ul li a:hover{
  color: lemonchiffon;
  padding-left: 10px;
 
 }
 .footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     color: #594b3d;;
     background-color: khaki;
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     
    transition: all 0.3s ease;
 
 }
 .footer-col .social-links a:hover{
    color: #C7C1B3;
    background-color: lemonchiffon;
 }
 @media(max-width:767px){
 
 }
 .copyright{
     color: lemonchiffon;
     text-align: center;
     
 }
 .row hr{
     opacity: 0.7;
 }
.title{
    color: #a39e79;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline 4px;


}
.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #fff;
}
.question button{
    width: 100%;
    background-color: #2b2726;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
    color: #a39e79;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}