@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Playfair+Display:ital' sans-serif;
}
body{
    min-height: 100vh;
    background:#a39e79;
    background-size: cover;
    background-position: center;
    
}
header{
    position: fixed;
    top: 0px;
    left: 0;
    width:100%;
    height: 100px;
    padding: 20px 100 px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 100;
}
.logo{
  top: 50px;
  margin-left: 27px;
}
header.sticky
{
  padding: 6px 100px;
  background:#000000;
  transition: .3s;

}


.navbar a{
    position:relative;
    font-size: 20px;
    color:lemonchiffon;
    font-weight: 500;
    text-decoration: none;
    margin-right: 75px;
    margin-left: 50px;
    top: -33px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width:0;
    height: 2px;
    background: lemonchiffon;
    transition: .3s;

}
.navbar a:hover::before{
    width: 100%;
    color: rgb(192, 130, 16);
}

.car{
    top: 150px;
    position: absolute;
    z-index: -1;
    width: 400px;
    left: 780px;
}
.box{
    position: absolute;
    left: 450px;
    top: 100px;
    width: 300px;
    height: 400px;
    background-color:#164a41;
    color: #fefae0;
    border-radius: 10px;
    box-shadow: 10px 4px 10px #283618;
}
.box h1{
    font-size: 30px;
    text-align: center;
}
.inputs{
    width: 80%;
    height: 20px;
    background:#164a41;
    margin: 30px 10%;
  
}
.inputs input{
    background:transparent;
    border: #fefae0 solid 2px;
    border-radius: 40px;
    outline: none;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #fefae0;
}
input::placeholder{
    color: #fefae0;
}
textarea::placeholder{
    color: #fefae0;
}
.inputs textarea{
    background:transparent;
    border: #fefae0 solid 2px;
    color: #fefae0;
    border-radius: 40px;
    outline: none;
    height:50px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.btn{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    color: #164a41;
    background-color:#f1b24a;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 30%;
    transition: 0.2s ;
    box-shadow: 0 0 0 #fefae0;
    cursor: pointer;
    
}
.btn:hover{
    box-shadow: 10px 4px 4px #fefae0;
}
.info{
    width: 400px;
}
.social-md{
    
    width: 10px;
}
.info h1{
    text-align: center;
    position: relative;
    font-size: 50px;
    color: #fefae0;
}
.info img{
    display: flex;
    position: relative;
    width: 40px;
    left: 20px;
    background-color: #164a41;
    border-radius: 50px;
}

.social-md h3{
    position:relative;
    left: 48px;
    top:35px;
    width: 0px;
    font-size: 18px;
    border-radius: 40px;
    color: transparent;
    text-align: center;
    transition: 0.3s ease-in ;
}
.social-md:hover h3{
    color:#164a41;
    letter-spacing: 5px;
    background-color: #f1b24a;
    width: 160px;
    height: 30px;
}

